@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4A7C31;
  --color-secondary: #2B3A67;
  --color-accent: #C0864A;
  --color-highlight: #D9C97C;
  --color-surface: #F5F0E1;
  --color-surface-dark: #1E2538;
}

.Toastify__toast {
  padding: 0 !important;
}
